<div class="row">
  <div class="col-md-12">
      <button type="button" class="btn mt-1 btn-orange btn-raised" (click)="createBenefit()" align-left>
          Crear Beneficio
      </button>
  </div>
</div>

<ngx-datatable class="bootstrap ngx-datatable" [rows]="this.beneficios" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
    <ngx-datatable-column prop="id" width="300">
        <ng-template let-row='row' let-value="value" ngx-datatable-cell-template>
            {{ row.id }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="nombre" width="300">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.nombre }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="descripción" width="800">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.descripcion }}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="idTarifa" width="100">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row.idTarifa.valor }}
    </ng-template>
</ngx-datatable-column>
    <ngx-datatable-column name="Opciones" prop="options" width="300">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn-danger shadow-z-2 btn-raised inline mr-2" (click)="deleteBenefit(row.id)">
                <i class="fa fa-trash white"></i>
            </button>
            <button class="bg-success shadow-z-2 btn-raised inline mr-2" (click)="viewBenefit(row)">
                <i class="fa fa-eye white"></i>
            </button>
            <button class="bg-blue shadow-z-2 btn-raised inline" (click)="editBenefit(row)">
                <i class="fa fa-pencil white"></i>
            </button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>