<div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="filterUserForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" autofocus formControlName="userNameValidator"
              placeholder="Nombre del usuario" [(ngModel)]="filterUserInfo.userName">
            <div class="alert alert-danger"
              *ngIf="validatorForm.userNameValidator.invalid && (validatorForm.userNameValidator.dirty && validatorForm.userNameValidator.touched)">
              <div *ngIf="validatorForm.userNameValidator.errors.required">
                El campo de nombre no puede estar vacío
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="userDocumentValidator"
              placeholder="Documento del usuario" [(ngModel)]="filterUserInfo.userDocument">
            <div class="alert alert-danger"
              *ngIf="validatorForm.userDocumentValidator.invalid && (validatorForm.userDocumentValidator.dirty && validatorForm.userDocumentValidator.touched)">
              <div *ngIf="validatorForm.userDocumentValidator.errors.required">
                El campo de documento no puede estar vacío
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-success btn-block">
            <label class="white">Buscar</label>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>