<div class="row">
  <div class="col-sm-3">
    <button class="btn btn-orange btn-raised" (click)="this.sendNewDirective('S')">
      Start
    </button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-orange btn-raised" [disabled]="!canTakeOff" (click)="this.sendNewDirective('T')">
      Take Off
    </button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-orange btn-raised" [disabled]="!canToLoan" (click)="this.sendNewDirective('L')">
      To Land
    </button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-orange btn-raised" [disabled]="!canViewReport">
      View Report
    </button>
  </div>
</div>