<ng-template #buttonsTemplate let-row="row" let-value="value">
  <button class="btn-danger shadow-z-2 btn-raised inline mr-2">
    <i class="fa fa-trash white"></i>
  </button>
  <button class="bg-success shadow-z-2 btn-raised inline mr-2">
    <i class="fa fa-eye white"></i>
  </button>
  <button class="bg-blue shadow-z-2 btn-raised inline">
    <i class="fa fa-pencil white"></i>
  </button>
</ng-template>

<ng-template #dateTemplate let-row="row" let-value="value">
  {{value | date : 'longDate'}}
</ng-template>

<ngx-datatable class="bootstrap ngx-datatable" [rows]="this.users" [columns]="columns" [columnMode]="'force'"
  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" (page)="setPage($event)" [externalPaging]="true"
  [limit]="10" [virtualization]="false" [offset]="currentPage" [count]="this.totalElements">
</ngx-datatable>