<div class="row">
  <div class="col-sm-12">
    <app-principal-controls (eventEmitter)="getNewPrincipalDirective($event)"></app-principal-controls>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-3">
    <app-secondary-controls (eventEmitter)="getNewSecondaryDirective($event)"></app-secondary-controls>
  </div>
  <div class="col-sm-9">
    <app-airplane-view></app-airplane-view>
  </div>
</div>