<table>
  <tr *ngFor="let itemArreglo of this.matrixNXN; let indexX = index">
    <td *ngFor="let itemColumna of itemArreglo; let indexY = index">
      {{itemColumna.status}}
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
