<div>
    <div class="modal-header">
  
      <h4 class="modal-title" *ngIf="this.whatIMDOing === 'view'" id="modal-basic-title">Ver Vehiculo</h4>
      <h4 class="modal-title" *ngIf="this.whatIMDOing === 'edit'" id="modal-basic-title">Editar Vehiculo</h4>
      <h4 class="modal-title" *ngIf="this.whatIMDOing === 'create'" id="modal-basic-title">Crear Vehiculo</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
  
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="vehiclesForm">
        <div class="row">
          <div class="col-md-12">
              <!---CAMPO CAPACIDAD-->
            <div class="form-group">
              <label for="capacidad">Capacidad:</label>
              <input type="text" class="form-control" autofocus maxlength="50" formControlName="vehiclesCapacidad"
                placeholder="Capacidad del Vehiculo" [(ngModel)]="vehiclesModelInfo.Capacidad">
              <div class="alert alert-danger"
                *ngIf="validatorForm.vehiclesCapacidad.invalid && (validatorForm.vehiclesCapacidad.dirty && validatorForm.vehiclesCapacidad.touched)">
                <div *ngIf="validatorForm.vehiclesCapacidad.errors.required">
                  El campo de Capacidad no puede estar vacío
                </div>
                <div *ngIf="validatorForm.vehiclesCapacidad.errors.maxlength">
                  El campo de nombre no puede exceder los 50 caracteres
                </div>
              </div>
            </div>
            <!---CAMPO NOMBRE-->
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" maxlength="50" formControlName="vehiclesNombre"
                placeholder="Nombre del Vehiculo" [(ngModel)]="vehiclesModelInfo.nombre">
              <div class="alert alert-danger"
                *ngIf="validatorForm.vehiclesNombre.invalid && (validatorForm.vehiclesNombre.dirty && validatorForm.vehiclesNombre.touched)">
                <div *ngIf="validatorForm.vehiclesNombre.errors.required">
                  El campo de Nombre no puede estar vacío
                </div>
                <div *ngIf="validatorForm.vehiclesNombre.errors.maxlength">
                  El campo de Nombre no puede exceder los 50 caracteres
                </div>
              </div>
            </div>
            <!---CAMPO  DE TIPO VEHICULO-->
            <div class="form-group">
              <label for="tipoVehiculo">Tipo Vehiculo:</label>
              <ng-select [items]="tipoVehiculos" bindValue="id" bindLabel="dato" placeholder="tipoVehiculos"
                formControlName="vehiclesTipoVehiculo" [(ngModel)]="vehiclesModelInfo.idTipoVehiculo.dato">
              </ng-select>
              <div class="alert alert-danger"
                *ngIf="validatorForm.vehiclesTipoVehiculo.invalid && (validatorForm.vehiclesTipoVehiculo.dirty && validatorForm.vehiclesTipoVehiculo.touched)">
                <div *ngIf="validatorForm.vehiclesTipoVehiculo.errors.required">
                  El campo de Tipo de Vehiculo no puede estar vacío
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" *ngIf="this.whatIMDOing === 'view'" class="btn btn-success btn-block"
              [disabled]="this.vehiclesForm.invalid" (click)="close()">
              <label class="white">Cerrar</label>
            </button>
            <button type="submit" *ngIf="this.whatIMDOing === 'edit'" class="btn btn-success btn-block"
              [disabled]="this.vehiclesForm.invalid">
              <label class="white">Actualizar</label>
            </button>
            <button type="submit" *ngIf="this.whatIMDOing === 'create'" class="btn btn-success btn-block"
              [disabled]="this.vehiclesForm.invalid">
              <label class="white">Crear</label>
            </button>
          </div>
        </div>
      </form>
















</div>  