<div>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'view'" id="modal-basic-title">Ver Beneficio</h4>
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'edit'" id="modal-basic-title">Editar Beneficio</h4>
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'create'" id="modal-basic-title">Crear Beneficio</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="benefitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="benefitName">Nombre: </label>
            <input type="text" class="form-control" autofocus maxlength="100" formControlName="benefitName"
              placeholder="Nombre del Beneficio" [(ngModel)]="benefitModelInfo.nombre">
            <div class="alert alert-danger"
              *ngIf="validatorForm.benefitName.invalid && (validatorForm.benefitName.dirty && validatorForm.benefitName.touched)">
              <div *ngIf="validatorForm.benefitName.errors.required">
                El campo de nombre no puede estar vacío
              </div>              
              <div *ngIf="validatorForm.benefitName.errors.maxlength">
                El campo de nombre no puede exceder los 100 caracteres
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="benefitDescription">Descripción: </label>
              <input type="text" class="form-control" autofocus maxlength="300" formControlName="benefitDescription"
                placeholder="Descripción del Beneficio" [(ngModel)]="benefitModelInfo.descripcion">
              <div class="alert alert-danger"
                *ngIf="validatorForm.benefitDescription.invalid && (validatorForm.benefitDescription.dirty && validatorForm.benefitDescription.touched)">
                <div *ngIf="validatorForm.benefitDescription.errors.required">
                  El campo de descripción no puede estar vacío
                </div>              
                <div *ngIf="validatorForm.benefitDescription.errors.maxlength">
                  El campo de descripción no puede exceder los 300 caracteres
                </div>
              </div>
            </div>          
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label for="benefitTarifa">Tarifa: </label>
            <ng-select
                  placeholder="Seleccione una tarifa para el beneficio"
                  [(ngModel)]="benefitModelInfo.idTarifa.id" 
                  formControlName= "benefitTarifa">
                  <ng-option [value]="item.id" *ngFor="let item of ratings">                  
                      {{item.valor}}
                  </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" *ngIf="this.comunicationModelInfo.mode === 'view'" class="btn btn-success btn-block"
            [disabled]="this.benefitForm.invalid" (click)="close()">
            <label class="white">Cerrar</label>
          </button>
          <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'edit'" class="btn btn-success btn-block"
            [disabled]="this.benefitForm.invalid">
            <label>Actualizar</label>
          </button>
          <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'create'" class="btn btn-success btn-block"
            [disabled]="this.benefitForm.invalid">
            <label>Crear</label>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>