<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn mt-1 btn-orange btn-raised" (click)="createVehicles()" align-left>
            Crear Vehiculos
        </button>
    </div>
</div>
<ngx-datatable class="bootstrap ngx-datatable" [rows]="this.vehicles" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
    <ngx-datatable-column prop="id" width="300">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.id }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="capacidad" width="300">
        <ng-template let-row="row" let-value="capacidad" ngx-datatable-cell-template>
            {{ row.capacidad }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="nombre" width="300">
        <ng-template let-row="row" let-value="nombre" ngx-datatable-cell-template>
            {{ row.nombre }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="idTipoVehiculo width=" 300">
        <ng-template let-row="row" let-value="idTipoVehiculo" ngx-datatable-cell-template>
            {{ row.idTipoVehiculo }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Opciones" prop="options" width="300">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn-danger shadow-z-2 btn-raised inline mr-2" (click)="deleteVehicles(row.id)">
                <i class="fa fa-trash white"></i>
            </button>
            <button class="bg-success shadow-z-2 btn-raised inline mr-2" (click)="viewVehicles(row)">
                <i class="fa fa-eye white"></i>
            </button>
            <button class="bg-blue shadow-z-2 btn-raised inline" (click)="editVehicles(row)">
                <i class="fa fa-pencil white"></i>
            </button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>