<div>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'view'" id="modal-basic-title">Ver tarifa</h4>
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'edit'" id="modal-basic-title">Editar tarifa</h4>
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'create'" id="modal-basic-title">Crear tarifa</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="ratingForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="number" class="form-control" autofocus maxlength="10" formControlName="ratingValue"
              placeholder="Valor de la tarifa" [(ngModel)]="ratingModelInfo.valor">
            <div class="alert alert-danger"
              *ngIf="validatorForm.ratingValue.invalid && (validatorForm.ratingValue.dirty && validatorForm.ratingValue.touched)">
              <div *ngIf="validatorForm.ratingValue.errors.required">
                El campo de valor no puede estar vacío
              </div>
              <div *ngIf="validatorForm.ratingValue.errors.max">
                El campo de valor no puede exceder los 100000
              </div>
              <div *ngIf="validatorForm.ratingValue.errors.maxlength">
                El campo de valor no puede exceder los 10 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" *ngIf="this.comunicationModelInfo.mode === 'view'" class="btn btn-success btn-block"
            [disabled]="this.ratingForm.invalid" (click)="close()">
            <label class="white">Cerrar</label>
          </button>
          <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'edit'" class="btn btn-success btn-block"
            [disabled]="this.ratingForm.invalid">
            <label class="white">Actualizar</label>
          </button>
          <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'create'" class="btn btn-success btn-block"
            [disabled]="this.ratingForm.invalid">
            <label class="white">Crear</label>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>