<div class="content">
  <table class="table table-bordered">
    <tbody>
      <tr style="width: 50; height: 50;" *ngFor="let alt of this.tableViewConfig; let i = index">
        <th *ngFor="let dis of alt; let j = index" scope="row">
          <img *ngIf="this.shouldPaintAirplane(i, j) && !this.lightIsPowerOn"
            src="../../../assets/img/pages/avioncito.png" width="20" height="20" />
          <img *ngIf="this.shouldPaintAirplane(i, j) && this.lightIsPowerOn"
            src="../../../assets/img/pages/avioncito-light.png" width="20" height="20" />
          <label *ngIf="dis === 1">
            -
          </label>
          <img *ngIf="isPeopleFallingHere(i,j) === true" src="../../../assets/img/pages/parachute.png" width="20"
            height="20" />
        </th>
      </tr>
    </tbody>
  </table>
</div>