<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-green btn-raised" [disabled]="!this.isFlying" (click)="this.sendNewDirective('DOWN')">
      -
    </button>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-green btn-raised" [disabled]="!this.isFlying" (click)="this.sendNewDirective('UP')">
      +
    </button>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-green btn-raised" [disabled]="!this.isFlying" (click)="this.sendNewDirective('TO')">
      To....
    </button>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <input type="text" class="form-control" autofocus 
        placeholder="Altura" [(ngModel)]="userAlt" [disabled]="!this.isFlying">
    </div>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-green btn-raised" [disabled]="!this.isFlying" (click)="this.sendNewDirective('EJECT')">
      Eject P
    </button>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-green btn-raised" [disabled]="!this.isFlying" (click)="this.sendNewDirective('CHANGE')">
      Change Lights
    </button>
  </div>
</div>